# Node.js (for both frontend and backend)
node_modules/

# Logs
logs/
*.log
*.log.*

# Dependency directories
/frontend/node_modules/
/backend/node_modules/

/backend/uploads/

# Build directories
/frontend/dist/
/frontend/build/
/backend/dist/
/backend/build/

# Environment files
.env
.env.local
.env.*.local

# MacOS
.DS_Store

# IDEs and editors
.vscode/
.idea/

# OS-specific files
Thumbs.db
Desktop.ini

# Temporary files
*.swp
*.swo
*.swn